body{
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 25px;
}

header{
    background-color: #f0f;
    font-family: cursive;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    background-color: #e0f;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #d0f;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one{
    background-color: #c0f;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two{
    background-color: #b0f;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three{
    background-color: #a0f;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four{
    background-color: #90f;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    background-color: #80f;
    color: white;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}